<% provide(:title, t("password_resets.new.title")) %>
<h1><%= t("password_resets.new.title") %></h1>

<div class="row justify-content-center">
    <div class="col-md-6">
    <%= form_with scope: :password_reset, url: password_resets_path, local: true do |f| %>

        <div class="mb-3">
            <%= f.label :email ,class: "form-label" %>
            <%= f.email_field :email, class: 'form-control', placeholder: true %>
        </div>

        <div class="d-grid">
            <%= f.submit t("password_resets.new.submit"), class: "btn btn-primary" %>
        </div>

    <% end %>
  </div>
</div>
