<%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="mb-3">
    <%= f.label :name, class: "form-label" %><%= label_hint(f, :name) %>
    <%= f.text_field :name, class: "form-control", placeholder: true %>
    </div>

    <div class="mb-3">
    <%= f.label :email, class: "form-label" %><%= label_hint(f, :email) %>
    <%= f.email_field :email, class: "form-control", placeholder: true %>
    </div>

    <div class="mb-3">
    <%= f.label :password, class: "form-label" %><%= label_hint(f, :password) %>
    <%= f.password_field :password, class: "form-control", placeholder: true %>
    </div>

    <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %><%= label_hint(f, :password_confirmation) %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: true %>
    </div>

    <div class="d-grid mb-3">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
<% end %>
