<li id="micropost-<%= micropost.id %>">
<% if visible_to_user?(micropost,current_user) %>

  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture if micropost.picture.attached? %>
  </span>
  <span class="timestamp">
    <%= t("microposts.item.posted_ago", time: time_ago_in_words(micropost.created_at)) %>
    <%= render "microposts/poststatus", micropost: micropost%>
    <% if current_user?(micropost.user)%>
      <%= link_to t("helpers.links.delete"), micropost,
      data: { turbo_method: :delete, turbo_confirm: t("helpers.confirms.delete") } %>
    <%end%>
  </span>

<% end %>
</li>